<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SNS-TEST.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>69201FF01EA4265900FAEAF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6920200C1EA4265A00FAEAF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>692020171EA4265A00FAEAF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
